body {
  margin: 0;
}

.canvas-container {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-overlay {
  position: absolute;
  bottom: 9dvh;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem;
  z-index: 10;
}

.nav-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.prev-btn {
  background-color: #F0E6F3;
  opacity: 0.4;
}

.next-btn {
  background-color: #1E2C8A;
  color: white;
  opacity: 0.4;
}

.page-number {
  font-size: 1.2rem;
  color: #333;
}

.arrow {
  font-weight: bold;
}

.nav-btn:hover {
  transform: scale(1.05);
}

.nav-btn:active {
  transform: scale(0.95);
}

#modal-image {
  width: 100%;
  height: auto;
  max-height: 95dvh;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 110;
  background-size: 0.875rem auto;
}
